* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*font-family: 'PT Sans', sans-serif;
font-family: 'Cabin', sans-serif;*/

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
}

/* header =================================================*/
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}

.header__logo-link {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30.04px;
  color: #3c4357;
  text-decoration: none;
}

/* nav =================================================*/
.nav {
  text-decoration: none;
}

.nav__list-menu {
  display: inline-block;
  padding-left: 46px;
}

.nav__list-menu:first-child {
  padding-left: 0;
}

.nav__list-link {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #718493;
  transition: all 0.13s ease-in-out;
}

.nav__list-link:hover {
  color: #3c4357;
  border-bottom: 3px solid #3c4357;
}

/* intro =================================================*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6becb url("../img/banner.jpg") center no-repeat;
  height: 720px;
}

.intro__title {
  font-family: "Cabin Semibold", sans-serif;
  font-size: 40px;
  color: #3c4458;
  margin-bottom: 40px;
  line-height: 1.5;
}

.intro__text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #7b8d9b;
  margin-bottom: 65px;
  line-height: 1.5;
}

.intro__btn {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #bcccd9;
  border: none;
  padding: 16px 33px 16px 33px;
  border-radius: 24px;
  transition: all 0.13s ease-in-out;
}

.intro__btn:hover {
  background-color: #6a859b;
}

/* service features =================================================*/
.service {
  margin: 150px 0;
  text-align: center;
}

.service__title {
  font-family: "Cabin", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #3c4357;
  margin-bottom: 35px;
}

.service__text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #718493;
  line-height: 1.5;
}

.features {
  display: flex;
  margin: 130px 0;
}

.features__item {
  width: 25%;
  padding: 50px 15px 50px 15px;
}

.features__item:hover {
  border-top: 8px #bcccd9 solid;
  margin-top: -8px;
}

.feautures__icon {
  margin-bottom: 30px;
  opacity: 0.7;
  transition: all 0.13s ease-in-out;
  cursor: pointer;
}

.feautures__icon:hover {
  opacity: 1;
}

.features__item-title {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #3c4357;
  margin-bottom: 40px;
}

.features__item-text {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  color: #718493;
  line-height: 1.5;
}

/* staff =================================================*/
.staff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px;
}

.staff__info {
  width: 50%;
  padding-right: 95px;
}

.staff__info-name {
  font-family: "Cabin", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #3c4458;
  margin-top: 100px;
  margin-bottom: 15px;
}

.staff__info-position {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  color: #718493;
  margin-bottom: 30px;
}

.staff_info-about {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  color: #718493;
  margin-bottom: 30px;
  line-height: 1.5;
}

.staff__btn {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #7d8e9c;
}

.staff__btn:hover {
  filter: brightness(45%);
}

.staff__btn-icon {
  padding-left: 8px;
  height: 13px;
}

.staff__photo {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.staff_photo-link {
  flex-grow: 1;
  flex-basis: 40%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.staff_photo-link:nth-child(even) {
  margin-right: 0;
}

.staff_photo-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff__photo1 {
  height: 290px;
  width: 290px;
  margin-bottom: 3px;
  transition: all 0.13s ease-in-out;
}

.staff__photo1:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* staff =================================================*/
.office {
  background: #cfbbba url(../img/office.jpg) top center no-repeat;
  background-size: cover;
  height: 576px;
}

.office__title {
  font-family: "Cabin", sans-serif;
  font-size: 34.98px;
  font-weight: 500;
  color: #3c4458;
  text-align: center;
  padding-top: 135px;
  padding-bottom: 40px;
}

.office__info {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #718493;
  text-align: center;
  line-height: 1.5;
}

.office__shape {
  padding-top: 108px;
}

.office__shape .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  margin: 0 auto;
  border: 1px solid #8a9aa7;
  border-radius: 50%;
}

.office__shape .img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  padding-left: 5px;
  border: 5px solid #8a9aa7;
  border-radius: 50%;
}
